article(style='margin-top: 100px; padding-top: 40px; border-top: 2px solid grey')
        .row
          .col-lg-4
            div.booknote

              p  What does it mean to be alive?  
              p  How can you tell you are living?
              p Just because your brain is working...
              p or because you have a beating heart?...
              p Or is about those little things that make you who you are?
              <br>
              p Life is too short
              p To just do what you are told.
              p For you to be the best you can be,
              p For you to be as great as your dreams,
              p Is what is needed on this world.

            div(style="background:red")
              p  
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus aspernatur unde aliquid ratione, magni ipsam earum vero cumque dolor debitis alias, soluta asperiores ut quaerat repudiandae doloremque eos inventore ad.

          .col-lg-4
            .thumbnail.biografy-box
              img(src='doc/images/ProfilePicture3.jpg', alt='...')
              .caption(style='font-size: 12px')
                p Let me tell you a Story.
                p(style='text-align:justify')
                  | Once, I was walking through the forest of my own mind. There, I found a little flower, a story waiting to be told. Suddenly, while I was staring at it, I realized that there wasn’t only one, but millions of them. They were all waiting to be told. I knew I couldn’t just leave them there, so I put as much as I could fit inside a little chest. I decided to let them grow inside it, so one day, all of them can see the light.
                p My name is Jarys, and Welcome to my Story Box.
          .col-lg-4.popular-post(style='padding: 5px 25px 25px 25px')
            h3(align='center', style="font-family: Oswald") Trending Stories
            .row
              -if(data.length)
                 -each box in data
                   .col-lg-12(style="background-image: url('#{box.url}'); background-size:  cover;")
                     a(href='Stories/id=#{box.id}')
                      h4.trending-title #{box.title}
                     p(style='color: grey')
                      | #{box.summary}
              -else
                p No se pudo conectar con la BD
            
   
          