head
  title Error
  link(rel='stylesheet', href='../css/bootstrap.min.css')

body
  .container 
     .row
       .col-lg-8.col-lg-offset-2(style="background:#dcdada; margin-top:50px; box-shadow: 3px 3px 8px grey")
          h1(align="center") Error :(
          p #{err}