doctype html
html(lang='en')
  head
      meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
      meta(charset='UTF-8')
      meta(name="author", content="Manuel Marcano")
      meta(name="keyworks", conten=" Jarys' Story Box, Story Box, box, story, distraction, think, inspiration, dreams, life, feelings, space to be free, write")
      meta(name="description", content="In this box, I talk about dreams, life, feelings, and those stories that need to be told. This is a space to be creative, honest, and free.")
      meta(property='og:url', content='http://jarystorybox.com')
      meta(property='og:type', content='website')
      meta(property='og:title', content='Jarys`s Story Box')
      meta(property='og:description', content='In this box, I talk about dreams, life, feelings, and those stories that need to be told. This is a space to be creative, honest, and free.')
      meta(property='og:image', content='http://jarystorybox.com/png/iso2.png')
      link(rel='stylesheet', href='./css/bootstrap.min.css')
      link(rel='shortcut icon', href='doc/images/BOXES.ico')
      link(rel="stylesheet", href="./css/fonts.css")
      link(rel='stylesheet', href='./css/index.css')
      link(rel="stylesheet", href="./css/animation.css")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
      script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107933052-1")
      script(src='./js/googleAnaly.js')
      script(src="./js/googleAnalyT.js")
      title Jarys Story Box
   block content