extends head
block content
  body.container
    header
     include social-nav
     include head-logo
     include nav-bar

    main 
      article(style="border-bottom:2px solid grey; padding-bottom:76px") 
          #historyContent.row(style="display:none")
          .col-lg-6.col-lg-offset-4
            #historyPagination.col-lg-12.col-lg-offset-1(style="display:none; margin-bottom:10px; margin-left:65px")
          #spinnerContainer.col-xs-4.col-xs-offset-4.col-lg-offset-6
                #spinnerContainer
                   .preloader-wrapper.big.active
                     .spinner-layer.spinner-blue-only
                       .circle-clipper.left
                          .circle
                       .gap-patch
                          .circle
                       .circle-clipper.right
                          .circle
      article(style="border-bottom:2px solid grey")
        .row
            h1(align='center', style="display:none") Jarys' Story Box 
            .col-lg-10.col-lg-offset-1.description-text
              p This is a <strong>Box</strong> full of <strong>Stories</strong>. Some of them are there so you can find some <strong>distraction</strong>. Others are there to make you <strong>think</strong>, and some <strong>stories</strong> are made for you to find <strong>inspiration</strong>. 

              p Here, in this box, I talk about <strong>dreams</strong>, <strong>life</strong>, <strong>feelings</strong>, and those stories that need to be <strong>told</strong>. This is a <strong>space</strong> to be <strong>creative</strong>, <strong>honest</strong>, and <strong>free</strong>. 

      include back-footer
    include footer
    script(src='../js/jquery.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/bootpag.js')
    script(src='../js/config.js')
    script(src='../js/getHistories.js')
