.modal.fade(tabindex='-1', role='dialog', aria-labelledby='gridSystemModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4(aling="center") Hola!
      .modal-body
        p
          | Puedo papostar a que no te esperabas esto. JAJAJAJJA Sorpresa mamagueva
          | La verdad, me has preguntado como 10 veces (junto con Erick) que que me pareció el teléfono y tal
          | pero quiero que entiendas/an que aunque me hubieses mandado una mierda de teléfono
          | igual me hubiese parecido lo máximo. Me encanta, lo valoro, lo amo. Y siendo sincero
          | no lo quiero sacar a la calle porque tengo miedo; miedo de perderlo, de que me lo roben
          | porque lamentablemente es lo mas cerca que he estado de ti en 5 años.
        p
          | Las cartas y todo lo lei el mismo dia, a la misma hora, en el mismo minuto qu elas recibi
          | (exceptuando los papelitos).
        p
          | Quiero que entiendas/an que aunque no hablemos, ni te escriba, que te deje en "R"
          | no significa que no me importas o que ya no quiero ser tu amigo, o que ya quiero que te mueras,
          | NO. Soy muy inexpresivo, y idiota. Pero siempre estoy pendiente, siempre le pregunto a Joel,
          | o siempre trato de buscar info, al final siempre me entero de TODO lo que les pasa y lo que
          | NO me han dicho (A veces me duele, pero X's igual se que no es por nada malo).
        p
          | En estos meses que he estado aquí de lo único que me he dado cuenta es que tu y Erick son los
          | tipos por los cuales yo daría la vida (Se me agueron los ojos al escribir esto).
          | La página es una excusa para tener contacto contigo, además es la única cosa que me ha
          | mantenido cuerdo en estos tres meses, es lo único que me distrae de la vida real.
        p
          | Gracias. Ustedes no entienden lo mucho que los extraño, tanto a las cortadas de nota que me hacias
          | y a las cosas inutiles que dice Erick jajajajaj. Los dos son mi familia y eso no cambia.

        p Gracias.

        p #{time} veces que los extraño.
      .modal-footer

        button.btn.btn-default(type='button', data-dismiss='modal', id="missUBtn", name="#{time}") I miss you