nav.navbar
  nav.navbar.navbar-default(style='border-top: 5px solid grey;')
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        .container.col-lg-7.col-lg-offset-3
          ul.nav.navbar-nav
            li
              a(href='/')
                | Jarys Story Box
                span.sr-only (current)
            li
              a(href='WeeklyJarys') The Weekly Jarys
            li
              a(href='TrueStory') True Story
            li
              a(href='ShortStories') Short Stories
            li
              a(href='StoryCubes') Story Cubes

             