.social-media.row
   .social-media-icon.col-lg-4
       .navbar.pull-right
            a(href='#')
              img(src='png/004-facebook.png', alt='Facebook-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='png/002-twitter.png', alt='Twitter-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='png/003-instagram.png', alt='Instagram-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='png/001-telegram.png', alt='Telegram-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='png/001-books.png', alt='Telegram-Icon')
          .navbar.pull-right
            a(href='#')
              img(src='png/002-library.png', alt='Telegram-Icon')