.social-media.row
   .social-media-icon.col-lg-4
       .navbar.pull-right
            a(href='https://www.facebook.com/JaryStoryBox/', target='_blank')
              img(src='png/004-facebook.png', alt='Facebook-Icon')
          .navbar.pull-right
            a(href='https://twitter.com/AJarys', target='_blank')
              img(src='png/002-twitter.png', alt='Twitter-Icon')
          .navbar.pull-right
            a(href='https://www.instagram.com/ajarysj', target='_blank')
              img(src='png/003-instagram.png', alt='Instagram-Icon')
          .navbar.pull-right
            a(href='t.me/Ajarysj', target='_blank')
              img(src='png/001-telegram.png', alt='Telegram-Icon')
          .navbar.pull-right
            a(href='https://www.wattpad.com/user/AJarys', target='_blank')
              img(src='png/001-books.png', alt='Books-Icon')
          .navbar.pull-right
            a(href='https://tapas.io/ajarysj', target='_blank')
              img(src='png/002-library.png', alt='Library-Icon')