extends head
block content
  body.container
    header
     include social-nav
     include head-logo
     include nav-bar
    main
      h1(align='center', style='margin-bottom: 20px') Story Cubes
      article(style="border-bottom:2px solid grey; padding-bottom:90px")
          #historyContent.row(style="display:none")
          .col-lg-6.col-lg-offset-4
            #historyPagination.col-lg-12.col-lg-offset-1(style="display:none; margin-bottom:10px; margin-left:65px")
          .col-lg-6.col-lg-offset-3
            #spinnerContainer.col-xs-4.col-xs-offset-4.col-lg-offset-5
                  #spinnerContainer
                     .preloader-wrapper.big.active
                       .spinner-layer.spinner-blue-only
                         .circle-clipper.left
                            .circle
                         .gap-patch
                            .circle
                         .circle-clipper.right
                            .circle
      include back-footer
    include footer

    script(src='../js/jquery.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/bootpag.js')
    script(src="../js/getHistoriesByCategory.js")
 
